html, body {
    height: auto;
}

body {
    margin: 0px;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* dialog-section */
#dialog-section {
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;

    /* display: flex; */
    justify-content: center;

    display: none;
}

#dialog-mask {
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    animation-name: mask;
    animation-duration: 0.1s;
    background-color: rgba(0, 0, 0, .25);
}

@keyframes mask {
    from {opacity: 0;}
    to {opacity: 0.25;}
}

#dialog-signin {
    position: fixed;
    z-index: 3;
    top: 80px;
    width: 340px;
    height: 275px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
}

@keyframes signin-block {
    from {
        display: none;
        top: 30px;
        opacity: 0.2;
    }
    to {
        display: block;
        top: 80px;
    }
}

#dialog-signup {
    position: fixed;
    z-index: 3;
    top: 80px;
    width: 340px;
    height: 332px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    display: none;
}

.decorator-bar {
    width: 340px;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-radius: 6px 6px 0px 0px;
}

#signin-close, #signup-close {
    position: absolute;
    z-index: 4;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 310px;
}

#signin-main, #signup-main {
    position: absolute;
    width: 310px;
    height: 235px;
    left: 15px;
    top: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-title {
    width: 310px;
    height: 27px;
    
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    
    color: #666666;    
}

#signin-form, #signup-form{
    display: flex;
    flex-direction: column;
}

#signin-email, #signin-pswd, 
#signup-name, #signup-email, #signup-pswd {
    width: 310px;
    height: 47px;
    
    background: #FFFFFF;    
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;

    padding: 0px 15px 0px;

    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#signin-button, #signup-button {
    width: 310px;
    height: 47px;
    background: #448899;
    border: none;
    border-radius: 5px;
    
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#change-to-signup-text, #change-to-signin-text {
    width: 310px;
    height: 22px;

    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navigation*/
#nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 54px;
    background: #FFFFFF;
    border-bottom: 0.5px solid rgb(206, 206, 206);

    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-nav {
    width: 1200px;
    height: 34px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

#inner-nav>a {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #448899;
}

#nav-btns>button {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #666666;
    
    border: #FFFFFF;
    background-color: #FFFFFF;
}


/* section */
#section {
    width: 1200px;
    height: 406px;
    margin-top: 94px;
    margin-bottom: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#picture-current {
    position: relative;
    margin: 0px 15px 0px;
    width: 45%;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#img {
    width: 100%;
    height: 406px;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#img>img {
    border-radius: 2%;
    width: 540px;
    height: 406px;
}

#operate-interface {
    position: absolute;
    width: 100%;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#button-box {
    height: 221px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#button-left, #button-right {
    margin: 0px 10px 0px;
    opacity: 0.7;
}

#circle-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background: #FFFFFF;
    margin: 0px 10px;
    opacity: 0.7;
}

#profile {
    width: 50%;
    height: 400px;
    margin: 0px 15px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#profile-brief-intro {
    width: 100%;
}

#name {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    font-size: 24px;
    color: #666666;
    margin-bottom: 15px;
}

#category-at-mrt {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-bottom: 15px;
}

#booking-form {
    width: 93%;
    height: 302px;
    padding: 0px 20px 0px;
    background: #E8E8E8;
    border-radius: 5px;
}

#booking-title {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
    margin: 15px 0px 15px;
}

#booking-intro {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin: 15px 0px 15px;
}

#booking-date {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
    margin: 15px 0px 15px;

    display: flex;
    align-content: center;
}

#booking-time {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
    margin: 15px 0px 15px;
    color: #666666;

    display: flex;
    align-content: center;
}

#booking-time>input {
    width: 18px;
    height: 18px;
    accent-color: #448899;
    border: none;
}

.daytime {
    font-weight: 400;
}

#booking-cost {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
    margin: 15px 0px 15px;
    color: #666666;

    display: flex;
    align-content: center;
}

#cost {
    font-weight: 400;
}

#booking-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 36px;

    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    background: #448899;
    border-radius: 5px;
    border: none;

    padding: 10px 20px;
    margin: 25px 0px 0px;
}

/* hr */
hr {
    width: 1200px;
    border: 1px solid #E8E8E8;
    margin-bottom: 40px;
}

/* infors */
#infors {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1200px;
    margin-bottom: 40px;
    flex-grow: 1;
}

#description {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;

    width: 98%;
    margin: 0px 0px 20px;
}

#address-box {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;

    width: 98%;
    margin: 0px 0px 20px;
}

#address-title {
    margin-bottom: 6px;
}

#address-content {
    font-weight: 400;
}

#transport-box {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #666666;

    width: 98%;
    margin: 0px 0px 20px;
}

#transport-title {
    margin-bottom: 6px;
}

#transport-content {
    font-weight: 400;
}



/* footer */
#footer {
    height: 104px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #757575;
}

#text {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
}

@media (max-width: 1200px) {
    #inner-nav, #section, hr, #infors {
        width: 90%;
    }
}

@media (max-width: 655px) {
    #section {
        width: 100%;
        height: 800px;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 0px;
    }

    #picture-current, #img {
        width: 100%;
    }

    #img {
        overflow: none;
    }

    #operate-interface {
        width: 540px;
    }

    #booking-form {
        width: 90%;
        height: 300px;
    }
    
    #profile {
        align-items: center;
        justify-content: flex-start;
        margin: 20px 5px 0px;
        width: 90%;
    }

    hr {
        margin: 40px 10px 50px;
    }
}

@media (max-width: 540px) {
    #operate-interface {
        width: 100%;
    }
}

@media (max-width: 360px) {
    #infors {
        margin-bottom: 110px;
    }
}