html, body {
    /* height: 100%; */
    height: auto;
}

body {
    margin: 0px;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
}

/* dialog-section */
#dialog-section {
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;

    /* display: flex; */
    justify-content: center;

    display: none;
}

#dialog-mask {
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    animation-name: mask;
    animation-duration: 0.1s;
    background-color: rgba(0, 0, 0, .25);
}

@keyframes mask {
    from {opacity: 0;}
    to {opacity: 0.25;}
}

#dialog-signin {
    position: fixed;
    z-index: 3;
    top: 80px;
    width: 340px;
    height: 275px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
}

@keyframes signin-block {
    from {
        display: none;
        top: 30px;
        opacity: 0.2;
    }
    to {
        display: block;
        top: 80px;
    }
}

#dialog-signup {
    position: fixed;
    z-index: 3;
    top: 80px;
    width: 340px;
    height: 332px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    display: none;
}

.decorator-bar {
    width: 340px;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-radius: 6px 6px 0px 0px;
}

#signin-close, #signup-close {
    position: absolute;
    z-index: 4;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 310px;
}

#signin-main, #signup-main {
    position: absolute;
    width: 310px;
    height: 235px;
    left: 15px;
    top: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-title {
    width: 310px;
    height: 27px;
    
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    
    color: #666666;    
}

#signin-form, #signup-form{
    display: flex;
    flex-direction: column;
}

#signin-email, #signin-pswd, 
#signup-name, #signup-email, #signup-pswd {
    width: 310px;
    height: 47px;
    
    background: #FFFFFF;    
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;

    padding: 0px 15px 0px;

    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#signin-button, #signup-button {
    width: 310px;
    height: 47px;
    background: #448899;
    border: none;
    border-radius: 5px;
    
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#change-to-signup-text, #change-to-signin-text {
    width: 310px;
    height: 22px;

    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navigation */
#nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 54px;
    background: #FFFFFF;
    border-bottom: 0.5px solid rgb(206, 206, 206);

    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-nav {
    width: 1200px;
    height: 34px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

#inner-nav>a {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #448899;
}

#nav-btns>button {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #666666;
    
    border: #FFFFFF;
    background-color: #FFFFFF;
}

/* slogan */
#slogan-box {
    position: absolute;
    top: 54px;
    width: 100%;
    height: 320px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#slogan {
    width: 1180px;
    height: 149px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#major {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #F8F8F8;
    text-shadow: 0px 0px 30px #AABBCC;
}

#minor {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #F8F8F8;
}

#search {
    display: flex;
}

#keyword {
    width: 400px;
    height: 46px;
    background: #FFFFFF;

    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #757575;

    border-radius: 5px 0px 0px 5px;
    border: none;
    padding: 0px 15px 0px;
    margin-right: 0px;
}

#search-btn {
    width: 60px;
    height: 46px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    background: #448899;
}


/* Hero Section */
#hero-section {
    position: relative;
    overflow: hidden;
    top: 54px;
    width: 100%;
    height: 320px;
    z-index: -1;

    margin-bottom: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
}

#hero-section>img {
    position: absolute;
    left: 50%;
}

/* attractions */
#attractions {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 50px;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#attractions-group {
    width: 1200px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#no-result {
    display: none;

    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #757575;
}

.item {
    width: 270px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0.5px solid rgb(206, 206, 206);
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item>img {
    width: 100%;
    height: 160px;
    margin-bottom: 15px;
}

#name {
    margin: 0px 10px 15px;

    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #757575;
}

#info {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 15px;
}

#mrt, #category {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #757575;
}

/* footer */
#footer {
    height: 104px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #757575;
}

#text {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
}

@media (max-width: 1200px) {
    #inner-nav, #slogan, #attractions {
        width: 90%;
    }
    #hero-section>img {
        left: 40%;
    }
}

@media (max-width: 600px) {
    #slogan-box, #hero-section {
        height: 280px;
    }

    #keyword {
        width: 230px;
    }

    #hero-section>img {
        left: 30%;
    }

    .item {
        width: 330px;
    }
    
    .item>img {
        height: 202px;
    }
}

@media (max-width: 360px) {
    #slogan {
        width: 340px;
        height: 169px;
    }

    #hero-section>img {
        height: 148px;
        top: 50%;
    }
}