<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei trip 台北一日遊</title>
    <link rel="stylesheet" href="../static/style/attraction.css">
</head>

<body>
    <div id="dialog-section">
        <div id="dialog-mask"></div>
        <div id="dialog-signin">
            <div class="decorator-bar"></div>
            <div id="signin-close">
                <img src="{{url_for('static', filename='assets/icon_close.png')}}">
            </div>
            <div id="signin-main">
                <div class="dialog-title">登入會員帳號</div>
                <form id="signin-form" action="">
                    <input id="signin-email" type="text" placeholder="輸入電子信箱" required>
                    <input id="signin-pswd" type="password" placeholder="輸入密碼" required>
                    <button id="signin-button">登入帳戶</button>
                </form>
                <div id="change-to-signup-text">還沒有帳戶？點此註冊</div>
            </div>
        </div>
        <div id="dialog-signup">
            <div class="decorator-bar"></div>
            <div id="signup-close">
                <img src="{{url_for('static', filename='assets/icon_close.png')}}">
            </div>
            <div id="signup-main">
                <div class="dialog-title">註冊會員帳號</div>
                <form id="signup-form" action="">
                    <input id="signup-name" type="text" placeholder="輸入姓名" required>
                    <input id="signup-email" type="text" placeholder="輸入電子郵件" required>
                    <input id="signup-pswd" type="password" placeholder="輸入密碼" required>
                    <button id="signup-button">註冊新帳戶</button>
                </form>
                <div id="change-to-signin-text">已經有帳戶了？點此登入</div>
            </div>
        </div>
    </div>
    
    <div id="nav">
        <div id="inner-nav">
            <a href="/">台北一日遊</a>
            <div id="nav-btns">
                <button>預定行程</button>
                <button id="btn-signin-n-signup">登入/註冊</button>
            </div>
        </div>
    </div>

    <div id="section">
        <div id="picture-current">
            <div id="img">
                <img src="">
            </div>
            <div id="operate-interface">
                <div id="button-box">
                    <div id="button-left" onclick="changeImageLeft();">
                        <img src="{{url_for('static', filename='assets/btn_leftArrow.png')}}">
                    </div>
                    <div id="button-right" onclick="changeImageRight();">
                        <img src="{{url_for('static', filename='assets/btn_rightArrow.png')}}">
                    </div>
                </div>
                <div id="circle-box">
                    <!-- <div class="circle"></div> -->
                </div>
            </div>
        </div>
        <div id="profile">
            <div id="profile-brief-intro">
                <div id="name"></div>
                <div id="category-at-mrt"></div>
            </div>
            <form action="" id="booking-form">
                <div id="booking-title">訂購導覽行程</div>
                <div id="booking-intro">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                <div id="booking-date">
                    <span>選擇日期：</span><input type="date">
                </div>
                <div id="booking-time">
                    <span>選擇時間：</span>
                    <input type="radio" name="time" id="morning" checked onclick="checkDayTime();"><span class="daytime">上半天</span>
                    <input type="radio" name="time" id="afternoon" onclick="checkDayTime();"><span class="daytime">下半天</span>
                </div>
                <div id="booking-cost">
                    <span>導覽費用：</span><span id="cost">新台幣 2000 元</span>
                </div>
                <button id="booking-button">開始預訂行程</button>
            </form>
        </div>
    </div>

    <hr>

    <div id="infors">
        <div id="description"></div>
        <div id="address-box">
            <div id="address-title">景點地址：</div>
            <div id="address-content"></div>
        </div>
        <div id="transport-box">
            <div id="transport-title">交通方式：</div>
            <div id="transport-content"></div>
        </div>
    </div>

    <div id="footer">
        <div id="text">COPYRIGHT © 2021 台北一日遊</div>
    </div>
</body>

<script src="../static/js/attraction.js"></script>


</html>