<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei trip 台北一日遊</title>
    <link rel="stylesheet" href="static/style/index.css">
</head>

<body>
    <div id="dialog-section">
        <div id="dialog-mask"></div>
        <div id="dialog-signin">
            <div class="decorator-bar"></div>
            <div id="signin-close">
                <img src="{{url_for('static', filename='assets/icon_close.png')}}">
            </div>
            <div id="signin-main">
                <div class="dialog-title">登入會員帳號</div>
                <div id="signin-form">
                    <input id="signin-email" type="text" placeholder="輸入電子信箱" required>
                    <input id="signin-pswd" type="password" placeholder="輸入密碼" required>
                    <button id="signin-button">登入帳戶</button>
                </div>
                <div id="signin-msg"></div>
                <div id="change-to-signup-text">還沒有帳戶？點此註冊</div>
            </div>
        </div>
        <div id="dialog-signup">
            <div class="decorator-bar"></div>
            <div id="signup-close">
                <img src="{{url_for('static', filename='assets/icon_close.png')}}">
            </div>
            <div id="signup-main">
                <div class="dialog-title">註冊會員帳號</div>
                <div id="signup-form">
                    <input id="signup-name" type="text" placeholder="輸入姓名" required>
                    <input id="signup-email" type="text" placeholder="輸入電子郵件" required>
                    <input id="signup-pswd" type="password" placeholder="輸入密碼" required>
                    <button id="signup-button">註冊新帳戶</button>
                </div>
                <div id="signup-msg"></div>
                <div id="change-to-signin-text">已經有帳戶了？點此登入</div>
            </div>
        </div>
    </div>

    <div id="nav">
        <div id="inner-nav">
            <a href="/">台北一日遊</a>
            <div id="nav-btns">
                <button id="btn-booking">預定行程</button>
                <button id="btn-signin-n-signup">登入/註冊</button>
            </div>
        </div>
    </div>

    <div id="slogan-box">
        <div id="slogan">
            <div id="major">輕鬆享受台北一日悠閒</div>
            <div id="minor">探索每個角落，體驗城市的深度旅遊行程</div>

            <div id="search">
                <input type="text" placeholder="輸入景點名稱查詢" id="keyword">
                <button id="search-btn" onclick="searchKeyword();">
                    <img src="{{url_for('static', filename='assets/icon_search.png')}}" alt="search">
                </button>
            </div>
        </div>
    </div>

    <div id="hero-section">
        <img id="welcome1" src="{{url_for('static', filename='assets/welcome.png')}}">
    </div>

    <div id="attractions">
        <div id="no-result">無相關資訊</div>
        <div id="attractions-group"></div>
    </div>

    <div id="footer">
        <div id="text">COPYRIGHT © 2021 台北一日遊</div>
    </div>
</body>

<script src="static/js/index.js"></script>


</html>